// -----------------------------------------------------------------------------
// This file contains styles relating to the nav and dropdown menu.
// -----------------------------------------------------------------------------

// General styling for the whole nav -------------------------------------------
nav {
  background: $navBackground;

  .wDropdown {
    //background: $navBackground;

    // Basic styling
    li a,
    li span {
      color: $linkColor;
      transition: 0.2s;  
    } 

    // Basic styling for TOP LEVEL
    > li > a,
    > li > span {
      color: $navLinkColor;
      line-height: $navLineHeight !important; 
    }

    // Basic styling CHILDREN (all levels below TOP)
    ul li > a,
    ul li > span {
      color: $navChildLinkColor;
      line-height: ($navLineHeight / 2) !important; 
    }
  }
}


// Hover states ----------------------------------------------------------------

// Top level hover state
//   The item is hovered over or in the opened state
//   Can also include hover states of selected and ancestor states
.wDropdown > li:hover > a,
.wDropdown > li:hover > span,
.wDropdown > li.wMenuOpen > a,
.wDropdown > li.wMenuOpen > span,
.wDropdown > li.wMenuSelected:hover > span,
.wDropdown > li.wMenuAncestor:hover > a {
  background: $navBackground-hover;
  color: $navLinkColor-hover;
}

// Child level hover state
// The item is hovered over or in the opened state
.wDropdown ul li:hover > a,
.wDropdown ul li:hover > span,
.wDropdown ul li.wMenuOpen > a,
.wDropdown ul li.wMenuOpen > span{
  background: $navChildBackground-hover;
  color: $navChildLinkColor-hover;
}

// Selected states -------------------------------------------------------------

// Top level selected state
.wDropdown > li.wMenuSelected > span {
  background: $navBackground-hover;
  color: $navLinkColor-hover;
}

// Child selected state
.wDropdown ul li.wMenuSelected > span,
.wDropdown ul li.wMenuSelected:hover > span {
  background: $navChildBackground-hover;
  color: $navChildLinkColor-hover;
}

// Misc extra menu styling bits ------------------------------------------------
.wDropdown ul {
  min-width: 100%; // sets ul to the same 
  text-align: $navAlignment; // sets alignment of menu
}

// pad drop-down items
.wDropdown a, 
.wDropdown span {
  padding: 0 1em;
  line-height: 3em;
} 