// -----------------------------------------------------------------------------
// This file contains all site-wide Sass variables.
// -----------------------------------------------------------------------------

// Theme Colors ----------------------------------------------------------------
$mainColor: #222;
$darkGrey:  #111;
$lightGrey: #ddd;

// replace these with the sites palette
$red: #E01706;
$yellow: #F1C900;
$blue: #00ADD7;

// Link Colors -----------------------------------------------------------------
$linkColor: $mainColor;
$linkColor-hover: $blue;

// Navigation Variables --------------------------------------------------------
$navLinkColor: $lightGrey;
$navLinkColor-hover: $mainColor;

$navBackground: $mainColor;
$navBackground-hover: $lightGrey;

$navChildLinkColor: $mainColor;
$navChildLinkColor-hover: $lightGrey;

$navChildBackground: $lightGrey;
$navChildBackground-hover: $mainColor;

$navLineHeight: 4em;
$navFontSize: 14px;
$navAlignment: left;

// Footer ----------------------------------------------------------------------
$footerBackground: $mainColor;
$footerColor: $lightGrey;
$footerPadding: 20px 30px;

$footerLinkColor: $blue;
$footerLinkColor-hover: $red;

$footerBtnBackground: $lightGrey;
$footerBtnBackground-hover: $mainColor;
$footerBtnColor: $mainColor;
$footerBtnColor-hover: $lightGrey;

// z-index ---------------------------------------------------------------------
$z-top:    10;
$z-9:      9;
$z-8:      8;
$z-7:      7;
$z-6:      6;
$z-5:      5;
$z-4:      4;
$z-3:      3;
$z-2:      2;
$z-bottom: 1;