// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/* pad the top of the page in edit mode in order to avoid the toolbar */
#webeditCoreEditModePage,
.wEdit {
  padding-top : 100px;
}

/* Remove default underline on links */
a {
  text-decoration: none;
}

/* Colour the it'seeze link */
.webeditCopyrightComponent a {
  color : #f37422 !important;
}

/* Make the dropdown a cross */
#wMenuToggle:checked ~ * #wMenuIcon > span {
  -webkit-transform: translate(0,0.4375em) rotate(-180deg);
  transform: translate(0,0.4375em) rotate(-134deg);

  &::before {
    width: 0.98em;
    -webkit-transform: translate(-0.025em,-0.006em) rotate(-90deg);
    transform: translate(-0.025em,-0.006em) rotate(-90deg);
  }

  &::after {
    opacity: 0;
  }
} 

/* Make textonimage text larger for full width rows */
.wWidth1920 .wTextonimageText,
.wWidth1920Xl .wTextonimageText,
#banner .wTextonimageText {
  font-size: 2em;
}

@media screen and (width:1920px) {
  .wEdit .wTextonimage {
    font-size: inherit !important;
  }
}  